* {
    margin: 0;
}

body {
    background-color: black;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#morphic_keyboard {
    outline: none;
    background: none;
    user-select: none;
}